/* 悬浮边框样式 */
.floating-border {
  background-color: #1e293b;
  border-radius: 20px;
}
/* 按钮通用样式 */
.menu-button,
.small-menu-button {
  border: none !important;
  /* 按钮背景色 */
  --el-button-bg-color: transparent !important;
  /* 按钮悬浮背景色 */
  --el-button-hover-bg-color: #334155 !important;
  /* 字体图标 */
  /* button中的字体 */
}
.menu-button i,
.small-menu-button i {
  color: #94a3b8;
}
.menu-button span,
.small-menu-button span {
  font-weight: bold;
  color: #94a3b8;
}
/* 菜单按钮通用样式 */
.menu-button {
  /* button中的字体 */
}
.menu-button span {
  font-size: 20px;
}
